@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   /* border: 2px solid black; */
}

body{
   max-width: 100vw;
   overflow-x: hidden;
}